[Unit]
Description=WiFi setup script
Wants=network-online.target
After=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/root/scripts/wifi.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
