qtApp/qtAppExec
qtApp/qtAppExec_autogen
qtApp/CMakeFiles
qtApp/cmake_install.cmake
qtApp/.qt
qtApp/qbuild
qtApp/.qtcreator
qtApp/.rcc
qtApp/.vscode

Cross_Compile/qtApp
Cross_Compile/qtAppPi
Cross_Compile/rasp.tar.gz
Cross_Compile/qt-pi-binaries.tar.gz